/* src/App.css */

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Gothic'), url('../public/fonts/NanumGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('Nanum Gothic Bold'), url('../public/fonts/NanumGothicBold.ttf') format('truetype');
}

/* 초기화코드 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Nanum Gothic', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea {
  resize: none;
  padding:0;
  margin:0;
}
input{
  outline: none;
}
/* ----------------------------------- */

/* 최초 페이지(main) */
/* ----------------------------------- */

body{
  overflow: hidden;
  background-color: #EFEFEF;
}

.main-container{ 
  height: 100vh;
  width:100vw;
  overflow: hidden;
  background-image: url("./img/bg03.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}


.main-container::after{
  content:"";
  background-color:rgba(0,0,0,0.7);
  position:absolute;
  z-index: 1;
  top:0;
  bottom:0;
  left:0;
  right:0;
  transform:skew(20deg) translateX(50%);
}

.main-logo{
  position: absolute;
  z-index:2;
  left:50%;
  top:30%;
  transform:translate(-50%,0);
}

.main-login-button{
  position:absolute;
  left:50%;
  top:55%;
  transform: translate(-50%,0);
  border:2px solid #333;
  color:#333;
  background:#fff;
  width: 150px;;
  height:50px;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:1.5em;
  font-weight:bold;
  z-index:2;
}

.main-login-button:hover{
  color:#fff;
  border:2px solid #fff;
}

.main-login-button:hover{
  box-shadow:inset 0 0 0 30px #222;
}
/* ----------------------------------- */

/* 로그인 페이지(login) */
/* ----------------------------------- */

.login-container{
  background-color:#666;
  height: 100vh;
  text-align: center;
}

.login-logo{
  margin-top:5%;
}

.id-container{
  margin-top:5%;
}

.id-area{
  width:250px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.pwd-container{
  margin-top:2%;
}

.pwd-area{
  width:250px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.login-button-container{
  display: flex;
  position:absolute;
  width:260px;
  left:50%;
  transform: translate(-50%,0);
  justify-content: space-between;
  margin-top: 5%;
}

.login-button-container button{
  border:2px solid #333;
  color:#333;
  background:#fff;
  width: 100px;;
  height:40px;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:1.2em;
  font-weight:bold;
}

.login-button-container button:hover{
color:#fff;
border:2px solid #fff;
}

.join-button:hover{
  box-shadow:inset -120px 0 0 0 #333;
}

.login-login-button:hover{
  box-shadow:inset 120px 0 0 0 #333;
}
/* ----------------------------------- */

/* 회원가입 페이지(join) */
/* ----------------------------------- */
.join-container{
  background-color:#666;
  height: 100vh;
  text-align: center;
}

.join-logo{
  margin-top:5%;
}

.double-check{
  width:70px;
  margin-left: 5px;
  height: 35px;
  outline: none;
  border:none;
  padding: 0;
}

.double-check{
  border:2px solid #333;
  color:#333;
  background:#fff;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:1em;
  font-weight:bold;
}

.double-check:hover{
  color:#fff;
  border:2px solid #fff;
  box-shadow:inset -60px 0 0 0 #333, inset 60px 0 0 0 #333;
}


.join-id-container{
  margin-top:5%;
}

.join-id-area{
  width:180px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.join-nickname-container{
  margin-top:2%;
}

.join-nickname-area{
  width:180px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.join-email-area{
  width:180px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.join-email-container{
  margin-top:2%;
}

.join-pwd-container{
  margin-top:2%;
}

.join-pwd-area{
  width:255px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.join-pwd-check-container{
  margin-top:2%;
}

.join-pwd-check-area{
  width:255px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.join-button-container{
  display: flex;
  position:absolute;
  width:265px;
  left:50%;
  transform: translate(-50%,0);
  justify-content: space-between;
  margin-top: 5%;
}

.join-button-container button{
  border:2px solid #333;
  color:#333;
  background:#fff;
  width: 100px;;
  height:40px;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:1.2em;
  font-weight:bold;
}

.join-button-container button:hover{
color:#fff;
border:2px solid #fff;
}

.join-login-button:hover{
  box-shadow:inset -120px 0 0 0 #333;
}

.join-join-button:hover{
  box-shadow:inset 120px 0 0 0 #333;
}
/* ----------------------------------- */

/* 홈페이지(Home) */
.home-container{ 
  height: 100vh;
  background-image: url("./img/bg01.jpeg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}

.home-container::after{
  content:"";
  background-color:rgba(0,0,0,0.7);
  position:absolute;
  z-index: 1;
  top:0;
  bottom:0;
  left:70%;
  right:0;
}

.home-container::before{
  content:"";
  background-color:rgba(0,0,0,0.7);
  position:absolute;
  z-index: 1;
  top:0;
  bottom:0;
  left:0;
  right:70%;
}

.user-info-container{
  position: absolute;
  z-index: 2;
  top:5%;
  right:7%;
  text-align: center;
}

.user-info-container button{
  display: inline-block;
}

.user-info{
  color:#fff;
  font-size:30px;
  margin-bottom: 20px;
}

.mypage-button{
  margin-right: 10px;
}

.mypage-button, .logout-button{
  border:2px solid #333;
  color:#333;
  background:#fff;
  width: 120px;;
  height:40px;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:1.2em;
  font-weight:bold;
}

.mypage-button:hover, .logout-button:hover{
color:#fff;
border:2px solid #fff;
}

.mypage-button:hover{
  box-shadow:inset -120px 0 0 0 #333;
}

.logout-button:hover{
  box-shadow:inset 120px 0 0 0 #333;
}

.user-nickname{
  font-weight: bold;
}

.home-logo{
  position: absolute;
  z-index:2;
  left:50%;
  top:10%;
  transform:translate(-50%,0);
}

.home-inner-container{
 position:absolute;
 z-index: 2;
 margin-top: 20%;
 left:50%;
 transform:translate(-50%,0);
 text-align: center;
}

.observe-container{
  display: block;
  position: relative;
}

.observe-text{
  position: absolute;
  left:50%;
  transform: translate(-50%,0);
  outline:none;
  font-size:1.5em;
  padding: 5px;
  padding-right: 40px;
}

.observe-button{
  position:absolute;
  outline: none;
  border:none;
  background:inherit;
  left:100px;
  cursor: pointer;
}

.practice-button{
  position:absolute;
  left:50%;
  top:100%;
  margin-top:80px;
  transform: translate(-50%,0);
  border:2px solid #333;
  color:#333;
  background:#fff;
  width: 200px;;
  height:75px;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:2em;
  font-weight:bold;
  z-index:2;
}

.practice-button:hover{
  color:#fff;
  border:2px solid #fff;
}

.practice-button:hover{
  box-shadow:inset 0 0 0 50px #222;
}
/* ----------------------------------- */

/* 발표연습페이지(practice) */
.practice-container{
  height: 100vh;
  padding:20px;
}

.practice-top{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  width:1100px;
  margin-left: 30px;
}

.timer-container{
  font-size:20px;
}

.timer-icon{
 margin-top: 10px;
 margin-right: -20px;
}

.timer-container input{
  font-size:20px;
  width:40px;
}

.timer-area{
  display: inline-block;
  margin-left:10px;
  border:1px solid black;
  padding:5px;
  border-radius: 5px;
  background-color: #fff;
  height:40px;
  line-height: 40px;
  margin-left: -20px;
}

.stop-button{
  background: inherit;
  border:none;
  outline:none;
  cursor:pointer;
  margin-left: -50px;
  margin-right: -20px;
}

.change-mode-button-container{
  font-weight: bold;
  font-size:30px;
  margin-top: 5px;
}

.change-mode-button-container button{
  background: inherit;
  border:none;
  font-weight: bold;
  cursor:pointer;
  font-size:30px;
}

.script-keyword-button-container{
  display: flex;
}

.change-script-button, .keyword-button{
  border:2px solid #333;
  color:#333;
  background:#fff;
  width: 130px;;
  height:40px;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:20px;
  font-weight:bold;
  display: inline-block;
}

.change-script-button{
  margin-right: 30px;
}

.change-script-button:hover, .keyword-button:hover{
  color:#fff;
  border:2px solid #fff;
  box-shadow:inset 0 0 0 50px #222;
}

.practice-user-info{
  font-size:25px;
  font-weight:bold;
  padding:5px;
  display: flex;
  height:40px;
  line-height: 40px;
  margin-top: -5px;
}

.top-user-info{
  margin-left: 10px
}

.my-3{
  display: none;
}

.pdf-file-drag-drop{
  font-weight:bold;
  font-size:24px;
}

/* 초기 상태: 모든 mode-button 클래스에 회색 스타일 지정 */
.mode-button {
  color: #6A6A6A;
}

/* 연습모드 버튼 스타일 */
.mode-button.active-practice {
  color: #2686EB
}

/* 실전모드 버튼 스타일 */
.mode-button.active-real {
  color: #EB301D
}

/* 연습모드 */
.practice-camera-pdf-container{
  display: flex;
  width:580px;
}

.prev-next-button-container{
  display: flex;
  justify-content: center;
  position: relative;
}

.prev-page-button{
  border:none;
  cursor: pointer;
}

.page-area{
  display: inline-block;
  text-align: center;
  font-size:20px;
  line-height: 30px;
  background-color: #fff;
  width:150px;
  border-radius: 10px;
}

.script-show-button{
 position: absolute;
 right:0;
 height: 30px;
 background-color: #fff;
 font-size:16px;
 border: 1.5px solid black;
 border-radius: 5px;
 cursor: pointer;
 width:120px;
}

.script-show-button:hover {
  background-color: #f0f0f0;
}

.next-page-button{
  border:none;
  cursor: pointer
}

.practice-left{
  margin-left: 60px;
  margin-right: 60px;
}

.observe-icon{
  margin-top: -20px;
  margin-bottom: -30px;
}

.practice-pdf-area{
  width: 560px;
  height: 315px;
  border: 2px dashed gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.pdf{
  width: 560px;
  height: 315px;
}

.script-input{
  width:560px;
  height: 200px;
}

.practice-right{
  text-align: center;
}

.message{
  height:80px;
  text-align: center;
  background-color: #fff;
  font-size:24px;
  font-weight:bold;
  margin-top: 30px;
  line-height: 80px;
  margin-bottom: 20px;
  color:#0B4ED3;
  border-radius: 20px;
  border:2px solid blue;
  box-sizing: border-box;
}

.practice-live-camera{
  display: block;
  height:315px;
  margin-bottom: 50px;
}

.script-input{
  box-sizing:border-box;
  padding:5px;
  font-size:16px;
  width:564px;
}

.script-save{
  border:1px solid black;
  height: 200px;
  padding:5px;
  font-size: 18px;
  background-color: #fff;
}

.practice-title{
  width:250px;
  height:40px;
  text-align:center;
  font-size:20px;
  margin-bottom: 40px;
}

.practice-title-save{
  display: inline-block;
  width:250px;
  height:50px;
  text-align:center;
  font-size:28px;
  margin-bottom: 40px;
  font-weight:bold;
  background-color: #fff;
  line-height: 50px;
  width:380px;
}

.practice-start-button{
  border:none;
  border-radius:5px;
  color:#fff;
  background:#2688EB;
  width: 200px;;
  height:50px;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:24px;
  font-weight:bold;
}

.practice-start-button:hover{
  color:#fff;
  border:2px solid #fff;
  box-shadow:inset 0 0 0 50px #EB301D;
}

.practice-stop-button{
  border:none;
  border-radius:5px;
  color:#fff;
  background:#EB301D;
  width: 200px;;
  height:50px;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:24px;
  font-weight:bold;
}

.practice-stop-button:hover{
  color:#fff;
  border:2px solid #fff;
  box-shadow:inset 0 0 0 50px #222;
}

/* 실전모드 */
.real-camera-pdf-container{
  display: flex;
}

.real-left{
  margin-left: 60px;
  margin-right: 60px;
  text-align:center;
}

.real-pdf-area{
  width: 720px;
  height: 405px;
  border: 2px dashed gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.real-page-area{
  display: inline-block;
  text-align: center;
  font-size:20px;
  line-height: 30px;
  background-color: #fff;
  width:150px;
  border-radius: 10px;
}

.real-right{
  text-align: center;
}

.observe-camera-container{
  margin-top: 30px;
  width: 720px;
  display: flex;
  justify-content: center;
  margin-left: 60px;
  height:150px;
}

.observe-live-camera{
  width:200px;
  height:150px;
}

.observe-code-title{
  font-weight:bold;
  font-size:30px;
  margin-bottom:5px;
}

.observe-code{
  display: inline-block;
  width:200px;
  height:40px;
  font-size:24px;
  line-height: 40px;
  margin-bottom:20px;
  background-color: #fff;
  text-align: center;
  margin-left: 40px;
}

.copy-button{
  display: inline-block;
  background-color: inherit;
  border:none;
  cursor:pointer;
  vertical-align: -6px;
}

.real-live-camera{
  height:200px;
  margin-bottom: 20px;
}

.real-title{
  width:250px;
  height:40px;
  text-align:center;
  font-size:20px;
  margin-bottom: 20px;
}

.real-title-save{
  display: inline-block;
  width:250px;
  height:40px;
  text-align:center;
  font-size:24px;
  padding-top: 10px;
  font-weight: bold;
  background-color: #fff;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight:bold;
}

/* ----------------------------------- */

/* 스크립트페이지(script) */
.script-container{
  height: 100vh
}

.script-title{
  font-weight:bold;
  font-size:40px;
  padding:20px;
  text-align: center;
}

.script-area{
  display: flex;
  justify-content: space-between;
}

.before-change-area h1, .after-change-area h1{
  text-align: center;
  margin-bottom:20px;
  font-weight: bold;
  font-size:24px;
}

.script-text{
  height:400px;
  width:350px;
  margin:30px;
  margin-top:0;
  padding:10px;
  font-size:16px;
}

.script-change{
  border:2px solid #333;
  color:#333;
  background:#fff;
  width: 150px;;
  height:50px;
  cursor:pointer;
  outline:none;
  transition:all 1s;
  font-size:1.5em;
  font-weight:bold;
  margin-top:200px;
}

.script-change:hover{
  color:#fff;
  border:2px solid #fff;
}

.script-change:hover{
  box-shadow:inset 0 0 0 50px #222;
}

.before-change{
  font-size:1.8em;
  text-align: center;
  font-weight:bold;
  border:1px solid black;
  padding-top:100px;
  height:310px;
}
/* ----------------------------------- */

/* 결과창(모달) */
.modal-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.modal-left > div, .modal-right > div{
  margin-bottom: 30px;
  margin-top: 30px;
}

.modal-result-summary {
  width: 300px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.modal-recommend-word-container,
.modal-forbidden-word-container {
  height: 100px;
}

.modal-recommend-word-title,
.modal-forbidden-word-title {
  font-weight: bold;
  font-size: 20px;
  text-align: start;
  padding: 10px;
  color: #333;
}

.modal-recommend-word,
.modal-forbidden-word {
  display: flex;
  flex-wrap: wrap;
}

.modal-recommend-word > div,
.modal-forbidden-word > div {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #e0e0e0;
  font-size: 18px;
  color: #333;
}

.modal-timer-icon {
  margin-top: -20px;
  color: #333;
  margin-left: 100px;
}

.modal-time-detail {
  font-size: 20px;
  margin-top: -20px;
  color: #555;
  font-weight: bold;
}

.modal-result-summary > h1 {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  padding-top:0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 24px;
  color: #333;
  background-color: #f5f5f5;
}

.modal-logo {
  margin-top: 60px;
}

.modal-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.modal-button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.detail-button,
.modal-close {
  border: 2px solid #333;
  color: #333;
  background: #fff;
  width: 120px;
  height: 40px;
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
  font-size: 1.2em;
  font-weight: bold;
}

.detail-button:hover,
.modal-close:hover {
  color: #fff;
  border: 2px solid #fff;
  box-shadow: inset 0 0 0 120px #333;
}

.modal-question-container > p {
  overflow-y: auto;
  height: 190px;
  text-align: start;
  padding: 2px;
  font-size: 20px;
  color: #333;
}

/* ----------------------------------- */

/* 키워드 모달 */
.keyword-container{
  text-align:center;
  padding-top:10px;
  height:250px;
}

.keyword-title{
  font-size:24px;
  font-weight:bold;
  margin-bottom: 15px;
}

.yes-word-container{
  font-size:20px;
  font-weight:bold;
  text-align: start;
  padding-left: 20px;
  height: 100px;
  margin-bottom: 10px;
}

.yes-word-input, .no-word-input{
  height:24px;
  width:130px;
  margin-left: 10px;

  font-size:18px;
}

.no-word-container{
  font-size:20px;
  font-weight:bold;
  text-align: start;
  padding-left: 20px;
}

.yes-word-button, .no-word-button{
  width:50px;
  height:30px;
  font-size:16px;
  background-color:inherit;
  border:none;
  cursor:pointer;
}

.word-list {
  display: flex;
  flex-wrap: wrap;
}

.word-item {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 3px;
  margin: 3px;
  text-indent: 5px;
}

.word-item span {
  flex: 1;
}

.word-item button {
  margin-left: 10px;
  padding: 5px 5px;
  background-color: inherit;
  color: #333;
  border: none;
  cursor: pointer;
  font-weight:bold;
}

.close-keyword-modal-button{
  position:absolute;
  top:0;
  right:0;
  background-color: inherit;
  border:none;
  margin-top: 10px;
  cursor:pointer;
}


/* ----------------------------------- */
/* 참관페이지(Observe) */

.observe-page-container{
  height:100vh;
  padding:50px;
}

.observe-page-container header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.presentator-name{
  font-size:40px;
  font-weight:bold;
}

.observe-title{
  color:blue;
  font-weight: bold;
  font-size: 36px;
}

.observe-page-middle{
  display: flex;
  justify-content:space-around;
}

.pdf-area{
  width: 560px;
  height: 315px;
  border:1px solid black;
  text-align: center;
}

.presentation-title{
  display: inline-block;
  font-weight:bold;
  font-size:30px;
  margin-top: 50px;
  background-color: #fff;
  width:300px;
  height:50px;
  line-height: 50px;
}


#myStream{
  text-align: center;
}

#myStream {
  display: flex;
  flex-wrap: wrap;
  width:480px;
  text-align: center;
}

#myStream video:nth-child(1) {
  width: 450px;
}

#myStream video:not(:nth-child(1)) {
  width: 150px;
}

.observe-page-bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.comment-write{
  display: flex;
}

.timer{
  border:1px solid gray;
  border-radius: 3px;
  font-size:24px;
  line-height: 60px;
  padding-left:10px;
  padding-right:10px;
  background-color: #fff;
  margin-right: 10px;
}

.comment{
  width:480px;
  text-indent:10px;
  font-size:24px;
}

.comment-submit{
  color:#333;
  background:inherit;
  cursor:pointer;
  outline:none;
  border:none;
  margin-left: -60px;
}

.comment-record{
  background-color: #fff;
  width:200px;
  border:2px blue solid;
  border-radius:10px;
  line-height: 60px;
  text-align:center;
  font-size:24px;
  font-weight:bold;
}

.leave-observe-page-button{
  border:none;
  background: inherit;
  cursor:pointer;
}

/* ----------------------------------- */

/* 마이페이지 */

.mypage-container {
  padding: 30px;
  height: 600px;
  overflow-y: auto;
}

.mypage-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.mypage-user-nickname {
  font-weight: bold;
  color: #007bff;
}

.record-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.practice-record {
  list-style-type: none;
  padding: 0;
}

.practice-record li {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 10px;
  align-items: center;
}

.practice-record li span {
  padding: 12px 24px;
  border: 2px solid #007bff;
  border-radius: 8px;
  background-color: #fff;
  font-size: 24px;
  color: #333;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight:bold;
  width:150px;
  height:30px;
  line-height: 30px;
}

.practice-record li span:hover {
  background-color: #007bff;
  color: #fff;
}

.practice-record li button{
  border:2px solid #333;
  color:#333;
  background:#fff;
  width: 100px;;
  height:50px;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:1.2em;
  font-weight:bold;
}

.practice-record li button:hover{
color:#fff;
border:2px solid #fff;
}

.practice-record li button:nth-child(2):hover{
  box-shadow:inset -120px 0 0 0 #333;
}

.practice-record li button:hover{
  box-shadow:inset 120px 0 0 0 #333;
}

/* 각 줄 구분 스타일 */
.practice-record li:not(:last-child) {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* 상세결과페이지(result) */

.detail-container {
  display: flex;
  width: 1000px;
  height: 600px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left-column {
  flex: 0 0 50%;
  padding: 20px;
  position: relative;
}

.left-column h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.result-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.right-column {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.result-page-comment-container h1,
.result-page-timer-container h1,
.result-page-eye-container h1,
.result-page-script-container h1,
.result-page-question-container h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* 수정된 부분 */
.result-page-timer-container,
.result-page-eye-container,
.result-page-script-container,
.result-page-question-container {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #F5F5F5;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.user-comment-card {
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.user-comment-card:hover {
  background-color: #F5F5F5;
}

.comment-dot {
  margin-right: 10px;
}

.comment-name-time-container {
  display: flex;
  align-items: center;
}

.comment-name-area {
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-right: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.comment-time-area {
  border: 1px solid #ccc;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #555;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.comment-time-area:hover {
  background-color: #F5F5F5;
}

.comment-message-area {
  margin-top: 10px;
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  color: #555;
  white-space: pre-wrap;
  line-height: 1.6;
}

.total-time-area {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.total-time-area span {
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  margin: 0 5px;
  color: #333;
}

.detail-timer-card {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 10px;
  color: #333;
}

.dot {
  margin-right: 5px;
}

.detail-page-area {
  margin-right: 30px;
  font-weight: bold;
}

.detail-time-area {
  border: 1px solid #ccc;
  width: 100px;
  height: 35px;
  line-height: 35px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #555;
}

.result-eye-detail > div {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 10px;
  color: #333;
}

.result-page-script-container {
  padding: 20px;
  background-color: #F7F7F7;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.recommend-word, .forbidden-word {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.recommend-word-detail, .forbidden-word-detail {
  font-size: 18px;
  color: #555;
}

.recommend-word-count, .forbidden-word-count {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.result-script-detail {
  padding: 10px;
  font-size: 16px;
  color: #555;
  white-space: pre-wrap;
  line-height: 1.6;
  background-color: #fff;
  border-radius: 10px;
}

.result-page-question-container {
  padding: 20px;
  background-color: #F7F7F7;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.result-question-detail {
  font-size: 16px;
  color: #333;
  white-space: pre-wrap;
  line-height: 1.6;
}

/* ---------------------------- */
.textLayer{
  display: none;
}

.annotationLayer{
  display: none;
}

/* 영상공유페이지(Share) */

.share-container{
  text-align: center;
}

.share-title{
  margin-top:30px;
  font-weight: bold;
  font-size:24px;
}

.share-url-container{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width:500px;
  margin-left: 50px;
  margin-top: 20px;
  height:40px;
  border:1px solid #CACACA;
  border-radius:5px;
}

.share-url-area{
  font-size:20px;
  line-height: 40px;
  text-indent:10px;
  overflow: hidden;
}

.share-copy-button{
  border:none;
  cursor: pointer;
}

/* ---------------------------- */


.highlight-recommended {
  background-color: #2686EB;
  border-radius:5px;
  padding:1px;
}

.highlight-forbidden {
  background-color: tomato;
  border-radius:5px;
  padding:1px;
}


/* 레코드 페이지(record) */
/* 공통 스타일 */
body {
  line-height: 1.6;
}

/* .record-container 스타일 */
.record-container {
  display: flex;
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

/* .record-video 스타일 */
.record-video {
  flex: 1;
  margin-right: 20px;
}

/* .record-detail 스타일 */
.record-detail {
  display: flex;
  flex-direction: column;
  width: 600px; /* 적절한 너비로 조정하십시오 */
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

/* .record-result-page-comment-container 스타일 */
.record-result-page-comment-container {
  flex: 1;
  overflow-y: auto;
  max-height: 500px; /* 최대 높이를 설정합니다. 적절한 값으로 조정하십시오. */
  border: 1px solid #ccc;
  padding: 10px;
}

/* .record-result-detail-page-title 스타일 */
.record-result-detail-page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* .record-result-comment-detail 스타일 */
.record-result-comment-detail {
  display: flex;
  flex-direction: column;
}

/* .record-user-comment-card 스타일 */
.record-user-comment-card {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* .record-comment-name-time-container 스타일 */
.record-comment-name-time-container {
  display: flex;
  margin-right: 10px;
}

/* .record-comment-dot 스타일 */
.record-comment-dot {
  margin-right: 5px;
}

.record-comment-name-area{
  margin-right: 10px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.record-comment-time-area{
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* .record-comment-message-area 스타일 */
.record-comment-message-area {
  flex: 1;
  line-height: 30px;
}

/* .record-comment-write 스타일 */
.record-comment-write {
  display: flex;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

/* .record-timer 스타일 */
.record-timer {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* .record-comment 스타일 */
.record-comment {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size:16px;
  height: 25px;
}

/* .record-comment-submit 스타일 */
.record-comment-submit {
  background-color: inherit;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


/* 참관자 모달창 */

.observe-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.observe-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size:24px;
  font-weight: bold;
}

.observe-modal p {
  margin-bottom: 10px;
}

.observe-modal button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size:18px;
  font-weight:bold;
}

.observe-modal button:hover {
  background-color: #0056b3;
}
