/* 최초 페이지(main) */
/* ----------------------------------- */
.main-container{ 
  height: 100vh;
  background-image: url("./img/bg01.jpeg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}

input{
  outline: none;
}

.main-container::after{
  content:"";
  background-color:rgba(0,0,0,0.7);
  position:absolute;
  z-index: 1;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.main-logo{
  position: absolute;
  z-index:2;
  left:50%;
  top:20%;
  transform:translate(-50%,0);
}

.main-login-button{
  position:absolute;
  left:50%;
  top:45%;
  transform: translate(-50%,0);
  border:2px solid #333;
  color:#333;
  background:#fff;
  width: 150px;;
  height:50px;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:1.5em;
  font-weight:bold;
  z-index:2;
}

.main-login-button:hover{
  color:#fff;
  border:2px solid #fff;
}

.main-login-button:hover{
  box-shadow:inset 0 0 0 30px #222;
}
/* ----------------------------------- */

/* 로그인 페이지(login) */
/* ----------------------------------- */

.login-container{
  background-color:#666;
  height: 100vh;
  text-align: center;
}

.login-logo{
  margin-top:5%;
}

.id-container{
  margin-top:5%;
}

.id-area{
  width:250px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.pwd-container{
  margin-top:2%;
}

.pwd-area{
  width:250px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.login-button-container{
  display: flex;
  position:absolute;
  width:260px;
  left:50%;
  transform: translate(-50%,0);
  justify-content: space-between;
  margin-top: 5%;
}

.login-button-container button{
  border:2px solid #333;
  color:#333;
  background:#fff;
  width: 100px;;
  height:40px;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:1.2em;
  font-weight:bold;
}

.login-button-container button:hover{
color:#fff;
border:2px solid #fff;
}

.join-button:hover{
  box-shadow:inset -120px 0 0 0 #333;
}

.login-login-button:hover{
  box-shadow:inset 120px 0 0 0 #333;
}
/* ----------------------------------- */

/* 회원가입 페이지(join) */
/* ----------------------------------- */
.join-container{
  background-color:#666;
  height: 100vh;
  text-align: center;
}

.join-logo{
  margin-top:5%;
}

.double-check{
  width:70px;
  margin-left: 5px;
  height: 35px;
  outline: none;
  border:none;
  padding: 0;
}

.double-check{
  border:2px solid #333;
  color:#333;
  background:#fff;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:1em;
  font-weight:bold;
}

.double-check:hover{
  color:#fff;
  border:2px solid #fff;
  box-shadow:inset -60px 0 0 0 #333, inset 60px 0 0 0 #333;
}


.join-id-container{
  margin-top:5%;
}

.join-id-area{
  width:180px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.join-nickname-container{
  margin-top:2%;
}

.join-nickname-area{
  width:180px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.join-email-area{
  width:180px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.join-email-container{
  margin-top:2%;
}

.join-pwd-container{
  margin-top:2%;
}

.join-pwd-area{
  width:255px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.join-pwd-check-container{
  margin-top:2%;
}

.join-pwd-check-area{
  width:255px;
  height:30px;
  text-indent: 2%;
  font-size:1em;
}

.join-button-container{
  display: flex;
  position:absolute;
  width:265px;
  left:50%;
  transform: translate(-50%,0);
  justify-content: space-between;
  margin-top: 5%;
}

.join-button-container button{
  border:2px solid #333;
  color:#333;
  background:#fff;
  width: 100px;;
  height:40px;
  cursor:pointer;
  outline:none;
  transition:all 0.5s;
  font-size:1.2em;
  font-weight:bold;
}

.join-button-container button:hover{
color:#fff;
border:2px solid #fff;
}

.join-login-button:hover{
  box-shadow:inset -120px 0 0 0 #333;
}

.join-join-button:hover{
  box-shadow:inset 120px 0 0 0 #333;
}
/* ----------------------------------- */

/*  */
/* ----------------------------------- */